#container {
    position: relative;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
}

#setting_laye, #gameplay_bg{
    display: none;
}
#menu_layer{
    display: block;
}
#gameplay_player_enemy{
    display: none;
}
#gameplay_hud{
    display: none;
}
#game_over{
    display: none;
}
#credit_layer{
    display: none;
}